.admin-sidebar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--ant-color-bg-container);
    padding-top: var(--ant-padding-lg);
}

.admin-sidebar-menu {
    flex: 1;
    overflow: auto;
}

.admin-sidebar-menu .ant-menu {
    border-right: 0;
    background: transparent;
}

.admin-sidebar-footer {
    padding: var(--ant-padding-lg);
    padding-top: var(--ant-padding-sm);
}

.admin-sidebar-add-btn {
    height: 48px;
    border-radius: var(--ant-border-radius-lg);
}